<!-- AddSpiceForm - html page for adding new record -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Spice Add</title>
    <link rel ="stylesheet" type="text/css" href="/style.css">
    </head>
<body>
<div class="menu">
    <ul>
        <li><a href="/">К списку специй</a></li>
        <li><a href="/delete_for_id">Удалить специю</a></li>
    </ul>
</div>
<h1>Добавить новую специю</h1>
<div class="help">
    <p>Добавление специй, пока база данных находится в тестовом варианте, добавляется только Название, Количество и Местонахождения</p>
    <p>Далее добавлю остальные данные и добавлю таблицы справлочники, например, для Местонахождения</p>
</div>
<form method="post" action="/">
    <fieldset>
        <legend>{{title}}</legend>  <!-- place to lookups (sqrl) -->
        <br>Title: <br><input type="text" name="title" autofocus required>
        <br>Count: <br><input type="number" name="sum" max="10000" min="0">
        <br>Location: <br><input type="text" name="location">
        <br><br><input type="submit" value="Submit">
        </fieldset>
    </form>
</body>
</html>